@media screen and (max-width:1280px) 
{
}

/* iPhone Retina 4 */
@media screen and (device-width:640px) and (device-height:960px)
{
	.MenuLeftPosition
	{
		display:none;
	}
	
	.MenuLeftPositionPhone
	{
		display:block;
		margin-top: 67px;
	}
	
	.MenuLeftPositionPhone select
	{
		width:100%;
		padding-left: 10px;
		padding-top: 5px;
		font-size: 15px;
	}
	
	.page-slider
	{
		margin-top:30px;
	}
	
	.topBarLogo
	{
		float:none;
	}
	
	.topbar
	{
		height:30px;
	}
	
	.topBarConnectBlock
	{
		margin-top: -137px;
		margin-right:5px;
	}
	
	.btn
	{
		font-size: 13px;
	}
	
	.topBarSearchBlock
	{
		float:none;
		padding-left:0px;
		margin-top: 50px;
	}
	
	.playerMusic
	{
		width:100%;
	}
	
	.playerMusicTitleBox
	{
		width: 100px;
	}
	
	.playerMusicTitle
	{
		font-size:11px;
		margin-top:0px;
	}
	
	.playerMusicArtistTitle a
	{
		font-size:11px;
	}
	
	.playerMusicCount
	{
		font-size:11px;
	}
	
	.playerContentBar
	{
		margin-left:0px;
		width:100%;
	}
	
	.playerMusicControlPlaying
	{
		float:none;
	}
	
	#popupConnect
	{
		position: fixed;
		z-index: 10001;
		display: none;
		background-color: rgba(255, 255, 255, 0.8);
		width: 90%;
		left: 5%;
		top: 5%;
		height: 48%;
	}
	
	.login-form
	{
		padding:10px;
		width:320px;
	}
}

/* iPhone First Generation */
@media screen and (device-width:320px) and (device-height:480px)
{
	.MenuLeftPosition
	{
		display:none;
	}
	
	.MenuLeftPositionPhone
	{
		display:block;
		margin-top: 67px;
	}
	
	.MenuLeftPositionPhone select
	{
		width:100%;
		padding-left: 10px;
		padding-top: 5px;
		font-size: 15px;
	}
	
	.page-slider
	{
		margin-top:30px;
	}
	
	.topBarLogo
	{
		float:none;
		width:50%;
	}
	
	.topbar
	{
		height:30px;
	}
	
	.topBarConnectBlock
	{
		margin-top: -155px;
		margin-right:0px;
	}
	
	.btn
	{
		font-size: 11px;
	}
	
	.topBarSearchBlock
	{
		float:none;
		padding-left:0px;
		margin-top: 50px;
	}
	
	.playerMusic
	{
		width:100%;
	}
	
	.playerMusicTitleBox
	{
		width: 100px;
	}
	
	.playerMusicTitle
	{
		font-size:11px;
		margin-top:0px;
	}
	
	.playerMusicArtistTitle a
	{
		font-size:11px;
	}
	
	.playerMusicCount
	{
		font-size:11px;
	}
	
	.playerContentBar
	{
		margin-left:0px;
		width:100%;
	}
}
